div id="header"
  h1 Tuitta

- if @message
  div id="message" = @message

div id="login-form"
  = form_tag '/login'
    div
      = label_tag :password, 'Password: '
      = password_field_tag :password, params[:password]
    = submit_tag 'Login', id: 'login-submit'
