= javascript_include_tag 'index'

div id="header"
  div id="header-inner"
    h1
      = link_to 'Tuitta', action: 'index'
    div id="menu"
      = link_to (fa_icon 'sign-out'), { controller: 'auth', action: 'logout' }, { id: 'logout' }
    div id="search"
      = form_tag (url_for action: 'search'), id: 'search-form', method: 'POST' do
        label for="search-box"
          = fa_icon 'search', id: 'search-icon'
        = text_field_tag :q, '', id: 'search-box'
    div class="clear"

div id="main"
  = form_tag (url_for action: 'create'), method: :post, id: 'tweet-form' do
    = text_area_tag 'tweet', '', id: 'tweet-input'
    div id="form-buttons"
      label id="upload-image-label" for='upload-image'
        = fa_icon 'camera'
        = file_field_tag 'images[]', id: 'upload-image', multiple: true
      = submit_tag 'Tweet', id: 'submit-tweet'
    div class="clear"

  div id="return-to-timeline-card"
    span id="return-to-timeline"
      |
        &lt;&lt; タイムラインに戻る

  div id="timeline"
  div id="paginator"
    span id="page-first" &lt;&lt; First
    span id="page-prev" &lt; Prev
    span id="page-next" Next &gt;
    span id="page-last" Last &gt;&gt;
