// Place all the styles related to the timeline controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background-color: #EFEFEF;
}

#header {
  height: 32px;
  margin-bottom: 16px;
  padding: 8px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

#header-inner {
  margin: 0 auto;
  max-width: 640px;
}

#main {
  max-width: 640px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  display: inline-block;
}

h1 a {
  text-decoration: none;
}

a {
  color: #000;
}

#menu {
  margin-left: 16px;
  display: inline-block;
}

#menu .fa {
  font-size: 20px;
}

#search {
  float: right;
  height: 32px;
  display: inline-block;
}

#search form {
  margin-top: 6px;
}

#search-icon {
  margin-right: 8px;
  font-size: 16px;
}

#search-box {
  width: 128px;
  border: 0;
  border-bottom: solid 1px #DDD;
  border-radius: 0;
  padding: 2px 6px;
  height: 18px;
  font-size: 16px;
  -webkit-appearance: none;
  outline: 0;
}

#tweet-form {
  white-space: nowrap;
  padding-left: 8px;
  padding-right: 8px;
}

#tweet-input {
  width: 100%;
  height: 64px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  border: solid 1px #DDD;
  border-radius: 4px;
  display: block;
  padding: 2px;
  margin-bottom: 8px;
  -webkit-appearance: none;
}

#form-buttons {
  float: right;
}

#upload-image-label {
  margin-right: 18px;
}

#upload-image-label .fa {
  font-size: 20px;
  vertical-align: middle;
}

#upload-image {
  display: none;
}

#submit-tweet {
  background-color: #22A7F0;
  color: #FFF;
  padding: 8px 26px;
  border-radius: 4px;
  border: 0;
  -webkit-appearance: none;
  font-size: 14px;
}

h2 {
  margin: 0px;
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
  font-size: 18px;
}

h2 a {
  color: #000;
}

.entry {
  width: 100%;
  border-top: solid 1px #E9E9E9;
}

.entry:first-child {
  border-top: 0;
}

.tweets {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.tweet {
  border-bottom: solid 1px #E9E9E9;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

.tweet:last-child {
  border-bottom: none;
}

.tweet-text {
  white-space: pre-wrap;
  word-wrap : break-word;
  font-size: 16px;
}

.tweet-time {
  float: right;
  font-size: 14px;
  color: #AAA;
  margin-left: 8px;
}

.tweet-images img {
  width: auto;
  max-height: 128px;
  margin: 8px;
}

.clear {
  clear: both;
}

.highlight {
  font-weight: bold;
}

#paginator {
  text-align: center;
  margin: 16px;
}

#paginator span {
  margin: 0 6px;
}

.current {
  font-weight: bold;
}

#login-form {
  margin: 0 auto;
  display: table;
  margin-top: 8px;
}

#login-submit {
  float: right;
  margin-top: 8px;
}

#message {
  border: solid 1px #FFAAAA;
  background-color: #FFEAEA;
  padding: 8px;
}

#return-to-timeline-card {
  display: none;
}
