<!DOCTYPE html>
<html>
  <head>
    <title>Tuitta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
